<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.css">
    <style>
        body{
          background-image: url("bg_image.png");
          background-size: cover;
        }
       
    </style>
</head>
<body>
    <span style="color:white; margin-left:30%; font-size:50px;">Welcome,Admin.</span>
    <div id="image">
    <figure><img src="register.png" height="30%" width="30%"><figcaption style="color:white;">Register</figcaption></figure>
    <figure><img src="addphotos.png" height="30%" width="30%"><figcaption style="color:white;">Add Photos</figcaption></figure>
    <figure><img src="train.jpeg" height="30%" width="30%"><figcaption style="color:white;">Train</figcaption></figure>
    <figure><img src="reports.png" height="30%" width="30%"><figcaption style="color:white;">View Report</figcaption></figure>
</div>

</body>
</html>