<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/dashboard.css">
    <style>
        body{
          background-image: url("images/bg_image.png");
          background-size: cover;
        }
       
    </style>
</head>
<body>
    <div id="image">
    <img src="images/enter.png" height="30%" width="30%">
    <img src="images/exit.png"  height="30%" width="30%" >
    <a href="login.html"><img src="login.png" height="30%" width="30%"></a>
</div>
<div id= "text">
    <span id="first">Mark in</span>
    <span id="second">Mark Out</span>
    <span id="third">Login</span>
</div>
</body>
</html>