
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/dashboard.css">
</head>
<body>
        
    <a href="/python"><img src="images/markin.jpeg" class="image"></a>
 
    <a href="/register"><img src="images/register.jpeg" class="image"></a>

    <a href="/login"><img src="images/contact_us.jpg" class="image"></a>

</body>
</html>