<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="styles/login.css">
</head>
<body>
  <table align="center" cellpadding = "10">
<!----- Name ---------------------------------------------------------->
<tr>
<td>NAME</td>
<td>
AKSHAT PARAG
</td>
</tr>
 
 
<!----- Email Id ---------------------------------------------------------->
<tr>
<td>EMAIL ID</td>
<td>akshatparagg@gmail.com</td>
</tr>
 
<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>MOBILE NUMBER</td>
<td>
  8541038690
</td>
</tr>
     
<!----- Address ---------------------------------------------------------->
<tr>
<td>ADDRESS <br /><br /></td>
<td>P.D. LAB,NIT Rourkela</td>
</tr>
 
</table>
</body>
</html>
